.container {
    background-color: var(--clr-background);
    color: var(--clr-text);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    min-height: 100vh;
  }
  
  .header {
    display: flex;
    justify-content: flex-end;
    justify-self: center;
  }
  
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  
  .heroImage {
    max-width: 100%;
    height: auto;
    margin-bottom: 2rem;
  }

  .textSection{
    display: flex;
    width: min(90%, 30rem);
    flex-direction: column;
    gap: 1rem;
  }
  
  .title {
    font-size: var(--fs-700);
    color: var(--clr-text);
    font-weight: 800;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .titleSpan {
    color: var(--clr-secondary);
  }
  
  .description {
    font-size: var(--fs-400);
    color: var(--clr-grey-2);
    text-align: justify;
  }

  .ctaButton{
    background-color: var(--clr-primary);
    color: white;
    padding: 0.75rem 1.5rem;
    border: none;
    font-size: var(--fs-300);
    cursor: pointer;
    border-radius: 0.25rem;
    transition: background-color 0.3s ease;
  }

  .ctaButton:hover {
    background-color: var(--clr-primary-dark);
  }
  
  @media (min-width: 750px) {
    .main {
        flex-direction: row-reverse;
        justify-content: space-between;
        flex: 1;
        flex-wrap: wrap;
      }
    .textSection{
        display: flex;
        width: min(40%, 30rem);
    }
    .heroImage {
        flex: 1;
        height: auto;
        margin-bottom: 2rem;
      }
  }