.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding-block: 1rem;
}

.brand > a {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.brandImg > img{
    width: 2rem;
    height: auto;
    transition: filter 0.3s ease;
    filter: var(--logo-filter);
}

.brand h3{
    font-size: var(--fs-300);
    font-weight: 600;
    color: var(--clr-text);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.options{
    display: flex;
    flex-wrap: wrap;
}

.toggleBtn{
    justify-self: flex-end;

    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    font-size: var(--fs-300);
}

.toggleBtn button svg{
    width: 1.3rem;
}

@media (min-width: 400px) {
    .toggleBtn{
        position: static;
    }
}

@media (prefers-color-scheme: dark) {
    .brandImg > img {
      filter: brightness(1.2) saturate(1.5);
    }
  }
  

