.container {
    background-color: var(--clr-background);
    color: var(--clr-text);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    min-height: 100vh;
  }
  
  .header {
    display: flex;
    justify-content: flex-end;
    justify-self: center;
  }
  
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }